#top {

    header {
        
        .menu-btn {
            display: none;
            width: 25px;
            height: 25px;
            position: relative;
            cursor: pointer;
        
            span,
            span::before,
            span::after {
                position: absolute;
                top: 50%;
                margin-top: -1px;
                left: 50%;
                margin-left: -9px;
                width: 18px;
                height: 2px;
                background-color: #fff;
            }
        
            span::before,
            span::after {
                content:'';
                transition: 0.4s;
            }
        
            span::before {
                transform: translateY(-5px);
            }
        
            span::after {
                transform: translateY(5px);
            }  
        }
    }
}



@media screen and (max-width: 768px) {
    #top {
        
        header {

            .menu-btn {
                display: block;
                position: absolute;
                top: 12px;
                left: 10px;
            }

            .active-btn {
                span {
                    height: 0;
                }

                span::after {
                    transform: rotate(45deg);
                }

                span::before {
                    transform: rotate(-45deg);
                }
            }

            // Отображение пунктов навигации в виде линий, составляющих иконку гамбургера
            .nav-item {
              position: relative;
              display: block;
              left: 0;
              margin: 0;
              padding: 0;
              clear: both;
              color: transparent;
              font-size: 14px;
              letter-spacing: -6.2px;
              height: 7px;
              line-height: 7px;
              text-transform: uppercase;
              white-space: nowrap;
              transform: scaleY(0.2);
              transition: $transition-duration, opacity 1s;
              transition: left, 0.5s;
              
              // Добавление ширины для первой линии
              &:nth-child(1) {
                letter-spacing: -8px;
              }
            
              // Добавление ширины для второй линии
              &:nth-child(2) {
                letter-spacing: -7px;
              }
            
              // Настройки для элементов, начиная с четвёртого
              &:nth-child(n + 4) {
                letter-spacing: -8px;
                margin-top: -7px;
                opacity: 0;
              }
            }
            
            .active {
            
                  // Восстанавливаем пункты навигации из «линий» в иконке меню
                  .nav-item {
                    left: 60%;
                    color: #ffffff;
                    letter-spacing: 0;
                    height: 40px;
                    line-height: 40px;
                    margin-top: 0;
                    opacity: 1;
                    transform: scaleY(1);
                    transition: $transition-duration, opacity 0.1s;
                    transition: left, 0.5s;
            
                }
            }
        }
    }
}