@font-face {
    font-family: "Exo";
    src: url("./fonts/Exo-Italic-VariableFont_wght.ttf");
    src: url("./fonts/Exo-VariableFont_wght.ttf");
    src: url("./fonts/Exo-Bold.ttf");
    src: url("./fonts/Exo-ExtraBold.ttf");
    src: url("./fonts/Exo-Medium.ttf");
    src: url("./fonts/Exo-Regular.ttf");
    src: url("./fonts/Exo-SemiBold.ttf");
}